.spoilerbutton {
    display:block;
    border:none;
    padding:0px 0px;
    margin:10px 0px;
    font-size:150%;
    font-weight:bold;
    color:#000000;
    background-color:transparent;
    outline:0
}
.spoiler {
    overflow:hidden
}
.spoiler > div {
    -webkit-transition:all 0s ease;
    -moz-transition:margin 0s ease;
    -o-transition:all 0s ease;
    transition:margin 0s ease
}
.spoilerbutton[value="Show Proof"] + .spoiler > div {
    margin-top:-500%
}
.spoilerbutton[value="Hide Proof"] + .spoiler {
    padding:5px
}
